:root {
  --primary-color: #8a8cac;
  --secondary-color: #fbcfe8;
  --bg-color: #f3f4f7;
  --header-bg-color: #fffffa;
  --neutral-light-color: #9daccc;
  --neutral-medium-color: #c0c9db;
  --primary-text-color: #121524;
  --title-text-color: #4b1535;
  --title-text-hover: #bb8588;
  --emph-color: #3a3e6c;
  --pale-red: #f95d4e;
  --hover-transition: cubic-bezier(0.34, 1.56, 0.64, 1);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.bgEmph {
  background-color: var(--emph-color) !important;
}
.bgEmph:hover {
  background-color: var(--title-text-color) !important;
}
.bgLight {
  background-color: var(--neutral-light-color);
}
.borderEmph {
  border: 1px solid var(--emph-color) !important;
}
.titleColor {
  color: var(--title-text-color);
}

/* general styles */
body {
  background-color: var(--bg-color) !important;
  color: var(--primary-text-color);
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
iframe {
  width: 12em;
  height: 12em;
  background-color: var(--gaming-bg);
  border-radius: 50%;
}
p {
  font-size: 1.3em;
}
section {
  background-color: var(--neutral-light-color);
  color: var(--primary-text-color);
}
footer {
  height: 15em;
  background-color: var(--neutral-light-color);
}
footer h2 {
  padding-right: 0.5em;
}
footer ul {
  padding-right: 1em;
}
footer li {
  list-style-type: none;
}
footer li:hover,
footer button:hover {
  transform: scale(1.2) translateX(-30px);
  transition: transform 0.5s var(--hover-transition);
}
footer button {
  margin-right: 0.3em;
}
.button:hover,
.hovering:hover {
  transform: scale(1.1);
  transition: transform 0.3s var(--hover-transition);
  cursor: pointer;
  z-index: 10;
}
svg:hover {
  transform: scale(1.2);
  transition: transform 0.3s var(--hover-transition);
}

/* loader */
.loaderContainer {
  z-index: 9999;
}

/* nav */
.navbarStyle {
  background-color: var(--header-bg-color);
  box-shadow: 0 0 3px black;
  color: var(--primary-text-color);
}
#nav-avatar-dropdown {
  cursor: pointer;
}
.dropdown-menu {
  background-color: var(--neutral-light-color) !important;
  color: var(--primary-text-color) !important;
  box-shadow: var(--emph-color) 0px 3px 3px 0px;
  width: 300px;
}
.dropdown-menu > a {
  width: 80%;
  margin: auto;
  padding: 0.3em 0.7em;
}
.dropdown-menu > a:hover {
  transform: scale(1.03) translateX(10px);
  transition: transform 0.5s var(--hover-transition);
  background-color: inherit;
}
.dropdownAvatar {
  width: 3em;
  height: 3em;
  object-fit: cover;
  background-color: white;
  border: 1px solid var(--emph-color);
  background-color: var(--primary-color);
}
.dropdown-header {
  color: var(--primary-text-color);
  font-size: large;
  font-weight: 600;
}

/* login */
.login-bg {
  background-image: url("./login-bg.svg");
  background-color: var(--primary-color) !important;
}

/* register */
.dragAndDrop {
  border: 2px dashed #ccc;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  width: 250px;
  height: 250px;
}
.coverPreview {
  width: 90%;
  height: auto;
  object-fit: contain;
}
.bg-dragging {
  background-color: #f0f0f0;
}
.asterisk {
  color: var(--pale-red);
  font-weight: bold;
  font-size: 1.3em;
}
.bioTextArea {
  /* position: relative; */
  padding-top: 1.5em;
  resize: none;
}
.charCounter {
  position: absolute;
  padding: 0.5em 1em;
  top: 3em;
  right: 2em;
  font-size: 0.8em;
  pointer-events: none;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

/* home */
.homeAlert {
  background-color: var(--neutral-light-color);
  color: var(--primary-text-color);
  border: none;
}
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  box-shadow: none !important;
}

/* author preview */
.authorCard:hover {
  transform: scale(1.03);
  transition: transform 0.2s var(--hover-transition);
}

/* post preview */
.postPreviewImg {
  width: 90%;
  height: 200px;
  object-fit: cover;
}
.postPreview:hover,
.profilePreview:hover {
  transform: scale(1.01) translateX(10px);
  transition: transform 0.5s var(--hover-transition);
}

/* add user*/
.avatarPreview {
  display: block;
  width: 247px;
  height: 247px;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}

/* user profile */
.profileImg {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.min-vh50 {
  min-height: 50vh !important;
}
.vh50 {
  height: 50vh;
}
.h80pc {
  height: 60%;
}
.vh60 {
  height: 60vh;
}
.vh85 {
  height: 85vh;
}
.vh90 {
  height: 90vh;
}
.mw-80 {
  max-width: 80%;
}
.mw-75 {
  max-width: 75%;
}
.mw-70 {
  max-width: 70%;
}
.h-400 {
  max-height: 400px;
}

.profilePreviewImg {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 50%;
}

/* post details */
#postContent {
  width: 80%;
  margin: 3em auto;
}
.postImg {
  display: block;
  width: 80%;
  margin: auto;
  object-fit: contain;
}

/* add post */
.coverPreview {
  display: block;
  width: 400px;
  max-height: 250px;
  object-fit: contain;
  margin: auto;
}
.ql-toolbar {
  border-radius: 8px 8px 0 0;
}
.my-editor .ql-container {
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 40vh;
}
.my-editor {
  width: 100%;
}
.commentEditor .ql-container {
  height: 100px;
  font-size: 12px;
}
.preview-box {
  height: 275px;
  overflow-y: scroll;
  background-color: white;
}
.preview-content {
  line-height: 1.6;
}

/* comments */
.authorLink {
  display: inline-block;
  font-weight: bold;
  transition: transform 0.3s var(--hover-transition),
    text-shadow 0.3s var(--hover-transition);
}
.authorLink:hover {
  transform: scale(1.05) translateX(5px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* leggera ombra */
}

.modal-content {
  min-height: 50vh;
}
.scrollModal {
  max-height: 60vh;
  overflow-y: auto;
}
.profilePicList {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  object-fit: cover;
}

.custom-tabs {
  background-color: transparent;
  transition: none;
}

.nav-link,
.text-lightGrey {
  color: var(--neutral-light-color);
}
.nav-link:hover {
  color: black;
}
.list-group-item {
  background-color: transparent;
  border: none;
}
.list-group-item .listing {
  transition: transform 0.2s ease-in;
  border: 0px !important;
}
.list-group-item:hover .listing {
  transform: translateX(1em);
}

.cursorPointer {
  cursor: pointer;
}
.topic-badge {
  background-color: var(--badge-color) !important;
  color: var(--text-color) !important;
}
.community-banner {
  background-color: var(--background-color) !important;
  color: var(--title-color) !important;
  bottom: 0px;
  z-index: 10;
  padding: 2em;
}
.community-banner p {
  color: var(--secondary-color);
}

/* BENTO BOX */
.community-posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: 15em;

  gap: 1.5em;
  padding: 2em;
}
.community-post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%; 
}
.community-post-item {
  background-color: var(--header-bg-color);
  border-radius: 8px;
  padding: 15px;
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}
/* 
post-small	1x1	span 1 (1 col)	span 1 (1 row)
post-medium	2x1	span 2 (2 col)	span 1 (1 row)
post-tall 	1x2	span 1 (1 col)	span 2 (2 row)
post-large	2x2	span 2 (2 col)	span 2 (2 row)
post-wide   3x1 span 3 (3 col)  span 1 (1 row)
 */
.post-small {
  grid-column: span 1;
  grid-row: span 1;
}
.post-medium {
  grid-column: span 2;
  grid-row: span 1;
}
.post-tall {
  grid-column: span 1;
  grid-row: span 2;
}
.post-large {
  grid-column: span 2;
  grid-row: span 2;
}
.post-wide {
  grid-column: span 3;
  grid-row: span 1;
}
.post-media-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.post-media-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.communityAccordion .accordion-item {
  border: 1px solid var(--secondary-color) !important;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.communityAccordion .accordion-button {
  background-color: var(--background-color) !important;
  color: var(--title-color) !important;
  font-weight: 500;
  box-shadow: none !important;
}

.communityAccordion .accordion-button:not(.collapsed) {
  background-color: var(--secondary-color) !important;
  color: var(--title-color) !important;
}

.commentChain {
  background-color: var(--secondary-color) !important;
  border-radius: 5px;
  padding: 0 2em;
}

.fixedSidebar {
  position: sticky;
  top: 0;
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

/*avatar*/
iframe[src*="readyplayer.me"] {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  border: none !important;
  border-radius: 0 !important;
  clip-path: none !important;
  overflow: visible !important;
}

#custom-switch{
  background-color: var(--primary-color);
  border: none;
}
.form-check-input:focus{
  box-shadow: none;
  color: white
}

#button-tooltip-danger .tooltip-inner{
  background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
  color: black;
  font-weight: 500;
}

.pointerEvtsNone{
  pointer-events: none;
}
.selected{
  transform: scale(1.1);
}

.loginContainer, .signUpRow {
  width: 100%;
}


@media (min-width: 992px) { /* lg  */
  .loginContainer {
    width: 25%;
  }
  .signUpRow {
    width: 50%;
  }
}

